 html {
    background-image: url(/src/image/neon.jpg); /*imagem de fundo*/
}

@font-face {
    font-family: 'NeonBines';
    src: url(/src/Font/NeonBines.ttf) format('truetype');
}

@font-face {    
    font-family: 'RockSalt-Regular';
    src: url(/src/Font/RockSalt-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Fino';
    src: url(/src/Font/Fino.ttf) format('truetype');
}

@font-face {
    font-family: 'SingleDay';
    src: url(/src/Font/SingleDay-Regular.ttf)format('truetype');
}

@font-face {
    font-family: 'ShadowsIntoLight';
    src: url(/src/Font/ShadowsIntoLight-Regular.ttf)format('truetype');
}

@font-face {
    font-family: 'Ephesis';
    src: url(/src/Font/Ephesis-Regular.ttf)format('truetype');
}

@font-face {
    font-family: 'Caveat';
    src: url(/src/Font/Caveat-Regular.ttf)format('truetype');
}

@font-face {
    font-family: 'DancingScript';
    src: url(/src/Font/DancingScript-VariableFont_wght.ttf)format('truetype');
}

@font-face {
    font-family: 'BadScript';
    src: url(/src/Font/BadScript-Regular.ttf)format('truetype');
}

.cor{
    background-image: linear-gradient(
        to top left,
        rgb(40, 117, 180),
        rgb(27, 27, 167),
        rgb(155, 155, 197),
        black
    );
    margin: -7px;
    opacity: 96%;
}

.container{    
    width: 88.7%;
    padding-left: 150px;
    font-style: italic;
    color: white;
    background-image: linear-gradient(
        to top right,
            black 30%,
            gray,
            white
    );
    cursor: pointer;
    align-items: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 5px 5px 5px white;
    
}

.navm {
    margin-left: -50px;
    margin-top: 25px;
}

ul{
    display: flex;
}

li{
    list-style: none;
    margin-top: 20px;
    margin-right: 10px;
    text-shadow: 1px 1px 3px blue;
}

li :hover{
    color: teal;
}

.main {
    margin-top: -100px;
    text-align: center;
    font-family: 'Ephesis',cursive;
    font-size: 30px;
    text-shadow: 10px 10px 10px white;
}

.time {
    font-family: 'ShadowsIntoLight',cursive;
    font-size: 23px;
    font-weight: bold;
    margin: 30px auto auto;
    text-shadow: 4px 4px 4px white;
}

.greetings {
    font-family: 'BadScript';
    font-size: 20px;
    text-shadow: 10px 10px 10px white;
}

.nome{
    font-family: 'DancingScript',cursive;
    text-decoration: underline;
}

.inputname {
    margin-left: auto;
}

.pratice{
    font-family: 'DancingScript',cursive;
    text-shadow: 10px 10px 10px white;
}

input{
    width: 90px;
    border-radius: 5px;
    margin-top: 15px;
    margin-right: 10px;
}

.numero{
    font-style: italic;
    width: 80px;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: 10px;
}

.resultado{
    margin: 20px auto auto;
    font-style: italic;
    font-weight: bold;
}

.rodape{
    width: 88.7%;
    padding-left: 150px;
    background-image: linear-gradient(
        to bottom right,
        white,
        gray,
        black
    );
    cursor: pointer;
    align-items: center;
    display: flex;

}

.inst{
    color: red;
}

.inst :hover{
    color: darkred;
}

.linked{
    color: blue;
}

.linked:hover{
    color: darkblue;
}

.gith :hover{
    color: white;
}


.Home{
    font-family: 'BadScript';
    font-size: 85%;
    text-align: center;
    margin: 60px auto 60px auto;
    padding: 50px;
    width: 1000px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    background-image: url(/src/image/casa.jpg);
    text-shadow: 1px 1px 1px black;
    opacity: 99%;
    color: white;
}

.exames{
    font-family: 'Ephesis';
    font-size: 18.5px;
    margin: 60px auto 60px auto;
    padding: 50px;
    width: 900px;
    height: 700px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    background-image: url(/src/image/exam.jpg);
    opacity: 54%;
}

.ref{
    margin-top: 20px;
    text-shadow: 1px 1px 4px white;
}

.sub{
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    text-shadow: 1px 1px 4px white;
}

.proj{
    margin-top: 20px;
    font-weight: bold;
}

.form{
    margin: 60px auto 60px auto;
    padding: 50px;
    width: 900px;
    height: 800px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    background-image: url(/src/image/form.jpg);
    opacity: 54%;
}

.text{
    font-style: italic;
    width: 200px;
}

.resp{
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
}

#coffee{
    font-family: 'NeonBines',cursive;
    color: darkblue;
    background-image: linear-gradient(
        to top right,
        red,
        orange,
        rgb(207, 12, 120)
    );
    opacity: 85%;
    margin-top: -21px;
}
.mid{
    width: 100%;
    height: 300px;
    box-shadow: 5px 5px 5px black;
}

label{
    font-style: italic;
    font-weight: bold;
    text-shadow: 3px 3px 5px white;
    margin-right: 10px;
}

#InputCoffee{
    background-image: linear-gradient(
        to top left,
        rgb(133, 133, 228),
        rgb(182, 131, 173)
    );
    border-radius: 20px;
    font-family: 'Fino';
}

.imgcoffee{
    background-image: url(/src/image/coffeebar.jpg);
}

.maincoffee{
    font-family: 'RockSalt-Regular',cursive;
    text-align: center;
    text-shadow: 10px 10px 10px rgba(99, 29, 58, 0.671);
    color: rgb(148, 60, 160);
    font-style: italic;
}

