 html, body {
    background-size: cover;/*ajusta o tamanho da imagem */
    background-repeat: no-repeat;/*evita a repetição*/
    width: 100%;
}

@media screen and (max-width: 768px) {
    html{
        width: 100%;
    }
}

@font-face {
    font-family: 'AntonyHunter';
    src: url(/src/Font/Anthony\ Hunter.ttf) format('truetype');
}
@font-face {
    font-family: 'Fino';
    src: url(/src/Font/Fino.ttf) format('truetype');
}

@font-face {
    font-family: 'SingleDay';
    src: url(/src/Font/SingleDay-Regular.ttf)format('truetype');
}

@font-face {
    font-family: 'ShadowsIntoLight';
    src: url(/src/Font/ShadowsIntoLight-Regular.ttf)format('truetype');
}

@font-face {
    font-family: 'Ephesis';
    src: url(/src/Font/Ephesis-Regular.ttf)format('truetype');
}

@font-face {
    font-family: 'Caveat';
    src: url(/src/Font/Caveat-Regular.ttf)format('truetype');
}

@font-face {
    font-family: 'DancingScript';
    src: url(/src/Font/DancingScript-VariableFont_wght.ttf)format('truetype');
}

@font-face {
    font-family: 'BadScript';
    src: url(/src/Font/BadScript-Regular.ttf)format('truetype');
}

@font-face {
    font-family: 'Zeyada';
    src: url(/src/Font/Zeyada-Regular.ttf);
}

@font-face {
    font-family: 'Charlotte';
    src: url(/src/Font/Charlotte.otf)format('opentype');
}
.cor{
    background-image: linear-gradient(
        to top left,
        rgb(40, 117, 180),
        rgb(27, 27, 167),
        rgb(155, 155, 197),
        black
    );
    margin: -7px;
    opacity: 96%;
}

.container{    
    padding-left: 150px;
    font-style: italic;
    color: white;
    background-image: linear-gradient(
        to top right,
            black 30%,
            gray,
            white
    );
    cursor: pointer;
    align-items: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 5px 5px 5px white;
    
}

.navm {
    margin-left: -50px;
    margin-top: 25px;
}

ul{
    display: flex;
}

li{
    list-style: none;
    margin-top: 20px;
    margin-right: 10px;
    text-shadow: 1px 1px 3px blue;
}

li :hover{
    color: teal;
}

.main {
    text-align: center;
    font-family: 'Ephesis',cursive;
    font-size: 40px;
    text-shadow: 10px 10px 10px white;
}
    
.time {
    font-family: 'ShadowsIntoLight',cursive;
    font-size: 23px;
    font-weight: bold;
    margin: 30px auto auto;
    text-shadow: 4px 4px 4px white;
}

.greetings {
    font-family: 'BadScript';
    font-size: 20px;
    text-shadow: 10px 10px 10px white;
}

.nome{
    font-family: 'DancingScript',cursive;
    text-decoration: underline;
}

.inputname {
    margin-left: auto;
}

.pratice{
    font-family: 'DancingScript';
    text-shadow: 10px 10px 10px white;
}

.input{
    font-family: 'Caveat';
    font-size: 20px;
    width: 100px;
    border-radius: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
    transition: translate(10px,10px);
}

.input:hover{
    transform: translate(10px, 10px)
}

.inputname{
    font-family: 'Caveat';
    font-size: 17px;
    width: 100px;
    border-radius: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.numero{
    font-style: italic;
    width: 80px;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: 10px;
}

.resultado{
    font-family: 'DancingScript';
    font-size: 25px;
    margin: 20px auto auto;
    font-style: italic;
    font-weight: bold;
}

.rodape{
    padding-left: 150px;
    background-image: linear-gradient(
        to bottom right,
        white,
        gray,
        black
    );
    cursor: pointer;
    align-items: center;
    display: flex;
}

.inst{
    color: red;
}

.inst :hover{
    color: darkred;
}

.linked{
    color: blue;
}

.linked:hover{
    color: darkblue;
}

.gith :hover{
    color: white;
}

.Home{
    font-family: 'BadScript';
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 60px auto 60px auto;
    padding: 50px;
    width: 1000px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
    background-image: url(/src/image/natureza.jpg);
    background-position: center;
    text-shadow: 50px 50px 50px blue;
    opacity: 99%;
    color: black;
}

.exames{
    font-family: 'Ephesis';
    font-size: 25px;
    margin: 60px auto 60px auto;
    padding: 50px;
    width: 900px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    background-image: url(/src/image/hematologia.jpg);

}

.ref{
    margin-top: 20px;
    text-shadow: 1px 1px 4px white;
}

.sub{
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
    text-shadow: 1px 1px 4px white;
}

.proj{
    margin-top: 20px;
    font-weight: bold;
}

.form{
    margin: 60px auto 60px auto;
    padding: 50px;
    width: 900px;
    height: 800px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    background-image: url(/src/image/form.jpg);
    opacity: 54%;
}

.text{
    text-align: center;
    font-style: italic;
    text-shadow: 10px 10px 10px whitesmoke;
    align-items: center;
}

.resp{
    font-weight: bold;
    text-shadow: 1px 1px 4px black;
}

#coffee{
    height: 100%;
    font-family: 'Zeyada';
    font-size: 23px;
    background-image: linear-gradient(
        to top left,
        rgb(66,38,0),
        silver,
        rgb(255,253,208)
    );
}

label{
    font-style: italic;
    font-weight: bold;
    text-shadow: 3px 3px 5px white;
    margin-right: 10px;
}

#InputCoffee{
    font-size: 15px;
    font-weight: bold;
    background-image: linear-gradient(
        to bottom right,
        black,
        rgb(220,220,220),
        white
    );
    width: 100px;
    margin-right: 50px;
    border-radius: 15px;
    font-family: 'Caveat';
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

#InputCoffee:hover{
    transform: scale(1.2) ;
}

.maincoffee{
    font-family: 'AntonyHunter',cursive;
    font-size: 30px;
    text-align: center;
    text-shadow: 10px 10px 10px whitesmoke;
    font-style: italic;
}

.animatedm, .animatedf{
    font-family: 'Zeyada';
    transition: fontFamily 0.3s ease-in-out;
    transition: color 0.3s ease-in-out
}

.animatedm:hover{
    font-family: 'Caveat';
    color: darkblue;
    text-shadow: 1px 1px 3px white;
}

.animatedf:hover{
    font-family: 'Ephesis';
    color: rgb(128,0,0);
    font-size: 30px;
    text-shadow: 1px 1px 3px whitesmoke;
}

.who{
    background-color: rgb(220,182,138);
    text-align: center;
    place-items: center;
}

.row{
    display: grid;
    grid-template-columns: repeat(3,0.5fr);
}

.col{
    padding: 20px;
    border-right: 1px solid transparent;
}

.img{
    padding-left: 20px;
    padding-top: 10px;
    background-color: rgb(220,182,138);
    display: flex;
    place-items: center;
}

#img{
    transition: transform 0.3s ease-in-out;
}

#img:hover {
    transform: scale(1.04);
}

.Hc{
    background-image: url(/src/image/back.jpg);
    display: grid;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 10px white;
    background-position: center;
}

.audio{
    opacity: 0.0;
    transition: opacity 0.3s ease;
}

.audio:hover{
    opacity: 1;
}

.imagem{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-image: linear-gradient(
        to top left,
        rgb(66,38,0),
        silver,
        rgb(255,253,208)
    );
    padding-bottom: 50px;
}

.carousel{
    padding-left: 40px;
    padding: auto auto 40px auto;
    margin-bottom: 40px;
    margin: auto ;
    display: flex;
}
  
.prev,.next {
    background: transparent;
    border: none;
    cursor: pointer;
}

.space{
    padding: 20px;
    background-image: linear-gradient(
        to bottom left,
        rgb(66,38,0),
        silver,
        rgb(255,253,208)
    );
}

.menu { 
    background-image: linear-gradient(
        to top left,
        rgb(255,253,208),
        rgb(66,38,00),
        silver
    );
    padding-bottom: 60px;
    display: flex;
 }