.container{
    border: 1px solid black;
    padding-left: 150px;
    margin: -75px -70px auto;
    text-align: left;
    background-image: linear-gradient(
        to top right,
            black 30%,
            gray,
            white
    );
    font-style: italic;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 5px 5px 5px white;
}

.navm {
    margin-left: -50px;
    margin-top: 25px;
}

