.container{    
    width: 88%;
    border-radius: 10px;
    padding-left: 150px;
    font-style: italic;
    color: white;
    background-image: linear-gradient(
        to top right,
            black 30%,
            gray,
            white
    );
    cursor: pointer;
    align-items: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 5px 5px 5px white;

}

.navm {
    margin-left: -50px;
    margin-top: 25px;
}

ul{
    display: flex;
}

li{
    list-style: none;
    margin-top: 20px;
    margin-right: 10px;
}